body {
  /*padding: 0 50px;*/
  
  /*background: #8ed9f9;*/
  /*background-image: url(/images/background-sf.png);*/
  /*background-image: url(/images/background-sf.png), linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), #8ed9f9);*/  
  /*background-image: url(/images/background-sf_left.png), url(/images/background-sf_right.png), linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), #8ed9f9);
  
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;*/
  
  /*background-repeat: no-repeat;
  background-position: center;*/
  
  /*SF BRIDGE*/
  /*background-image: url(/images/94105.jpg);
  background-repeat: no-repeat;
  background-position: center;*/
  
  /*BUILDINGS*/
  /*background-image: url(/images/buildings.png), linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), #8ed9f9);;
  background-position: bottom;
  background-repeat: repeat-x;*/
  
  /*background-image: url(/images/golden_gate2.png), linear-gradient(rgba(255, 255, 255, 0), #6dd3e7);*/
  /*background-size: cover;*/
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(#8ed9f9));
  background-image: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), #8ed9f9);
  background-image: -moz-linear-gradient(top, rgba(255, 0, 0, 0), #8ed9f9);
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #8ed9f9);*/
}

.sanFranciscoBackground {
    background-image: url(/images/golden_gate2.png), linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #6dd3e7);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.roadtripBackground {
    background-image: url(/images/roadtrip.png), linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #6dd3e7);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.flyBackground {
    background-image: linear-gradient(rgba(255, 255, 255, 0), #6dd3e7);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.beachBackground {
    background-image: url(/images/beach_1.png), linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #4aa2a4);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sharksBackground {
    background-image: url(/images/sharks.png), linear-gradient(rgba(255, 255, 255, 0), #006e7f);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.cloudContainer {
    bottom: 0;
    z-index: 0;
    /*background-attachment: fixed;*/
    /*position: absolute;*/
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    position: fixed;
}

a {
  color: #00B7FF;
}

#profileImage {
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    width: 100px;
}

.userGreeting {
    font-size: 1.5em;
    color: darkorange;
}

.currentWeatherIcon {
    width: 125px;
}

.summaryContainer {
    margin-top: 4vh;
}

.footerContainer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 8vh;
}

.container {
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    width: 80%;
    height: 100%;
}

.profileContainer {
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 90%;
}

.profileImageContainer {
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
}

.dayContainer {
    width: 80%;
    height: 80%;
    padding: 5px 15px;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
    box-shadow: 8px 8px grey;
    display: block;
    position: relative;
    overflow: hidden;
}

.dayContainer h1 {
    text-align: left;
    color: darkorange;
    font-size: 30px;
    margin-left: 30px;
}

.dayActivityContainer {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.dayActivityContainer .actionButtonsContainer {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.dayActivityContainer .dayActivityWeatherContainer {
    vertical-align: middle;
    margin: 0 auto;
    position: relative;
    height: 150px;
    width: 370px;
}

.dayActivityContainer .dayActivityHourlyWeatherContainer {
    float: left; 
    height: 200px;
    margin: 0 10px; 
}

.dayActivityContainer .dayActivityWeatherIcon {
    width: 100px;
    height: 90px;
}

p.currentLocation {
    margin: 0 auto;
}

/*SLIDER NAVIGATION*/

.fp-controlArrow {
    width: 50px;
    height: 50px;
}

.fp-controlArrow.fp-prev {
    border-color: transparent darkgrey transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent darkgrey;
}

.hockeyLogo {
    width: 200px;
}