mixin activityTemplate(activity)
    // (style={'background-image': 'url(' + activity.image + ')' })        
    .dayActivityContainer
        if activity.source.type == "place"
            
            - var locationType = activity.source.type
            if activity.source.location == "Santa Cruz"
                    - locationType = "beach"
                                
            input.dayActivityContainerType(type="hidden", value=locationType)                                            
                
            h5 Let's go to your favorire place?
            h2(style="font-size: 6em;")= activity.source.location
            h3(style="color: gray;") 
                = activity.isRaining ? "Looks like rain!" : "Weather looks good!"

            
            .dayActivityWeatherContainer
            
                each sample in activity.samples
                    .dayActivityHourlyWeatherContainer
                        div
                            img.dayActivityWeatherIcon(src="images/weather-icons/"+sample.icon+".png")

                        div
                            = sample.main

                        div(style="font-size: 2em;")
                            = sample.hour
                            | :00 

                        div
                            = sample.temperature
                            | &nbsp; °F
                    
            
            .actionButtonsContainer
                button.btn.btn-primary(type="button", onClick="window.open('" + activity.uberLink + "')") TELL MY FRIENDS

        
        if activity.source.type == "audioStreaming"
            p= activity.source.service
            h1
                a(href=activity.link)= activity.title
            
            br
                
            h2(style="font-size: 1.5em;")= activity.description
            h2(style="font-size: 8em;")= activity.date
            
             
            .actionButtonsContainer
                //a(href=activity.uberLink): img(src="/images/uber/UBER_API_Badges_1x_64px.png")
                button.btn.btn-primary(type="button", onClick="window.open('" + activity.uberLink + "')") TELL MY FRIENDS
                &nbsp; &nbsp; &nbsp;
                button.btn.btn-primary(type="button", onClick="window.open('" + activity.uberLink + "')") CALL ME UBER
                // &nbsp; &nbsp; &nbsp;
                // button.btn.btn-primary(type="button", onClick="window.open('" + activity.uberLink + "')") ADD TO CALENDAR
            
        if activity.source.type == "stay"
            input.dayActivityContainerType(type="hidden", value="roadtrip")                                            
        
            h2(style="font-size: 3em;")
                | Your roadtrip to 
                = activity.source.location
            
            each hotel in activity.hotels           
                a(href=hotel.link)= hotel.name
                    | ($
                    = hotel.price    
                    | ) &nbsp;
                    = hotel.guestRating
                    | stars
                h4= hotel.location
                h5= hotel.description
                
         if activity.source.type == "fly"
                input.dayActivityContainerType(type="hidden", value="fly")                                            
         
                h3= activity.source.location
                
                each flight in activity.flights
                    h3 ✈ ($
                        = flight.price   
                        | ) &nbsp;
                        - var there = flight.segments[0]
                        - var back = flight.segments[1]
                        a(href=flight.link)
                            span= there.time
                                | (
                                = there.airlineCode
                                = there.flightNumber
                                | ) 
                            span &nbsp; - &nbsp;
                            span= back.time
                                | (
                                = back.airlineCode
                                = back.flightNumber
                                | ) 
                                
        if activity.source.type == "game" && activity.source.sport == "hockey"
            h5 The game is on
            h2 Your favorite team will be playing!
        
            input.dayActivityContainerType(type="hidden", value="sharks")                                            
        
            img.hockeyLogo(src="/images/hockey/" + activity.source.team.toLowerCase() + ".png")
            span &nbsp; &nbsp; vs. &nbsp; &nbsp;
            img.hockeyLogo(src="/images/hockey/" + activity.games[0].versus.toLowerCase() + ".png")
            h4= activity.source.team
              | &nbsp; vs. &nbsp;
              = activity.games[0].versus
            h2(style="font-size: 5em;")
              = activity.games[0].startTime
              
            .actionButtonsContainer
                button.btn.btn-primary(type="button", onClick="window.open('" + activity.uberLink + "')") BUY TICKETS
                &nbsp; &nbsp; &nbsp;
                button.btn.btn-primary(type="button", onClick="window.open('" + activity.uberLink + "')") CALL ME UBER

            
mixin cloudTemplate(cloudStyle)
    .cloud(class=cloudStyle)
        div
        div
        div
        div
                    
html
    head
        title WKND planner
        // link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
        script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        
        // FULLPAGE.js integration
        
        link(rel="stylesheet" href="/bower_components/fullpage.js/jquery.fullPage.css")
        script(type="text/javascript" src="/bower_components/fullpage.js/jquery.fullPage.js")
        script(type="text/javascript" src="/bower_components/fullpage.js/vendors/jquery.easings.min.js")
        script(type="text/javascript" src="/bower_components/fullpage.js/vendors/jquery.slimscroll.min.js")
        script(type="text/javascript" src="/scripts/main.js")   
        link(rel="stylesheet" href="/stylesheets/clouds.css")
        link(rel="stylesheet" href="/stylesheets/screen.css")
        
        // <meta name="viewport" content="width=device-width, initial-scale=1">    
    
    // - var background ='url("'+ user.background +'")'
    // - var background ='url("/images/background-sf.png")' 
    
    body.sanFranciscoBackground          
        .modal.fade#user-profile-modal(tabindex=-1, role="dialog")
            .modal-dialog(role="document")
                form(action="/updateProfile", method="post")
                    .modal-content
                        .modal-header
                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") &times;
                            h4.modal-title User profile
                        .modal-body                        
                            .form-group
                                label My name is
                                input.form-control(name="profileName", type="text", placeholder="Name", value=user.name) 
                                    
                            .form-group
                                label I live in
                                input.form-control(name="profileCity", type="text", placeholder="City", value=user.location) 
                                
                            .form-group
                                label I weekly budget is $
                                input.form-control(name="maxPrice", type="text", placeholder="$$$", value=user.maxPrice) 
                                        
                            each preference in preferences
                                .form-group
                                    if preference.type == "place"
                                        label I like going to
                                        input.form-control(name="visitPlace", type="text", placeholder="Place", value=preference.location) 
                                    if preference.type == "audioStreaming"
                                        label I listen to music on 
                                        .input-group-btn
                                            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= preference.service 
                                                span.caret
                                            ul.dropdown-menu
                                                li: a(href="#") songkick
                                                li: a(href="#") spotify
                                                li: a(href="#") last.fm                                        
                                    if preference.type == "stay"
                                        label My next roadtrip destination is
                                        input.form-control(name="drivePlace", type="text", placeholder="Place", value=preference.location)
                                    if preference.type == "fly"
                                        label I want to make city break fly visit to
                                        input.form-control(name="flyPlace",type="text", placeholder="Place", value=preference.location)
                                    if preference.type == "game" && preference.sport == "hockey"
                                        label My favorite hockey team is
                                        .input-group-btn
                                            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= preference.team 
                                                span.caret
                                            ul.dropdown-menu
                                                li: a(href="#") Sharks
                                                li: a(href="#") Panthers
                                                li: a(href="#") Ducks
                                        
                        .modal-footer
                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                            button.btn.btn-primary(type="submit") Save changes
       
       .cloudContainer                 
            - var cloudsSizes = Array("tiny", "small", "normal")
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                - var item = cloudsSizes[Math.floor(Math.random() * cloudsSizes.length)];
                + cloudTemplate(item + " cloud-" + val)        

        #fullpage
            .section
                    .profileContainer
                        .profileImageContainer
                            img(src="images/happy.png", id="profileImage")
                            h2.userGreeting
                                | Welcome back,   
                                = user.name
                                | !                               
                                
                            h4                                 
                                = user.location
                                                                                                
                        .summaryContainer
                            h1(style="font-size: 4em;") You have 
                                = totalActivities
                                | &nbsp;awesome events next weekend. 
                            h4 Hope you are excited!
                            
                        br
                        img.currentWeatherIcon(src="/images/weather-icons/" + weather.icon + ".png")
                            
                        h5
                            = weather.description
                            br
                            = weather.temperature
                            | &nbsp; ºF                                                                      

                            
                        .footerContainer
                            span ↓ Scroll down or &nbsp; &nbsp;
                            button.btn.btn-primary(data-toggle="modal", data-target="#user-profile-modal") Update your profile

                        
                
            .section: .container: .dayContainer.saturday
                    h1 
                        | SATURDAY
                    - var saturday = days[0]
                    each activity in saturday.activities
                        .slide
                            + activityTemplate(activity)

            .section: .container: .dayContainer.sunday
                    h1 SUNDAY
                    - var sunday = days[1]
                    each activity in sunday.activities
                        .slide
                            + activityTemplate(activity)

            .section: .container: .dayContainer.saturday
                    h1 
                        | NEXT SATURDAY
                    - var saturday = days[2]
                    each activity in saturday.activities
                        .slide
                            + activityTemplate(activity) 